@model KazerBariWeb.Models.CategoryViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section>
    <div class="container">
        <div class="col-md-12 mt-5">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop1"
                    style="margin-left: 45%;">
                Add Category
            </button>
            <p style="color: red; text-align:center;">@ViewBag.message</p>

        </div>
        <div class="row justify-content-center">
            <div class="col-8 table-responsive">
                <table class="table table-bordered mt-3">
                    <thead style="background-color:yellow;">
                        <tr>
                            <th>Category Name</th>
                            <th>Icon</th>
                            <th>Banner</th>
                            <th>WhatIncluded</th>
                            <th>WhatExcluded</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.cat)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td> <img style="width:200px; height: 200px;" src="\Catagory\@item.Icon"></td>
                                <td>
                                    <img style="width:200px; height: 200px; ;" src="\Catagory\@item.Banner">
                                </td>
                                <td>@item.WhatIncluded</td>
                                <td>@item.WhatExcluded</td>
                                <td>
                                    <a type="button" class="btn btn-danger" asp-action="CategoryDelete"
                                       asp-route-categoryId="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>

@* add category *@
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel" style="padding-left: 30%;">Add Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">


                <form enctype="multipart/form-data" asp-action="AddCategory">
                    <div class="form-row col-md-12">
                        <div class=" col-md-8 ">
                            <div class="form-group">
                                <label for="input-title">Name</label>
                                <input class="form-control" id="input-title" asp-for="@Model.Name"
                                       aria-describedby="titleHelp" placeholder="Enter title">

                            </div>
                            <div class="form-group">
                                <label for="input-banner-img">Icon</label>
                                <input asp-for="@Model.IconPNG" class="form-control-file" id="input-banner-img">

                            </div>
                            <div class="form-group">
                                <label for="input-banner-img">Banner</label>
                                <input asp-for="@Model.Image" class="form-control-file" id="input-banner-img">

                            </div>
                            <div class="form-group">
                                <label for="input-banner-img">What Included</label>
                                <input asp-for="@Model.WhatIncluded" class="form-control-file">

                            </div> <div class="form-group">
                                <label for="input-banner-img">What Excluded</label>
                                <input asp-for="@Model.WhatExcluded" class="form-control-file">

                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>